* {
  box-sizing: border-box;
}

.scoreBoard {
  width: 60vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid black;
}

.score-cell {
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
