* {
  box-sizing: border-box;
}

.scoreBoard {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.score-cell {
  height: auto;
  font-family: "ThrowMyHandsUpintheAir", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  color: blue;
  font-size: 200%;
}

@font-face {
  font-family: "ThrowMyHandsUpintheAir";
  src: local("ThrowMyHandsUpintheAir"), url(./ThrowMyHandsUpintheAir.ttf);
}
