* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@font-face {
  font-family: "ThrowMyHandsUpintheAir";
  src: local("ThrowMyHandsUpintheAir"), url(./fonts/ThrowMyHandsUpintheAir.ttf);
}
