.custload-grid {
  display: grid;
  justify-content: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.custload-loading {
  position: relative;
}

.custload-button {
  position: absolute;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  animation: blink 1500ms infinite;
  z-index: -1;
}

.custload-orange {
  background: orange;
  top: 27%;
  left: 70%;
  animation-delay: 400ms;
}

.custload-red {
  background: crimson;
  top: 35%;
  left: 77%;
  animation-delay: 800ms;
}

.custload-green {
  background: limegreen;
  top: 42%;
  left: 70%;
  animation-delay: 1200ms;
}

.custload-blue {
  background: royalblue;
  top: 35%;
  left: 62%;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custload-wait-msg {
  font-family: "ThrowMyHandsUpintheAir", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  color: blue;
  font-size: 125%;
  font-weight: bold;
}

.custload-img {
  width: 100%;
  height: 100%;
}
