* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Berkshire Swash';
  src: local('BerkshireSwash-Regular'), url(./BerkshireSwash-Regular.ttf);
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.loading {
  position: relative;
}

.button {
  position: absolute;
  width: 4%;
  height: 4%;
  border-radius: 50%;
  animation: blink 1500ms infinite;
}

.orange {
  background: orange;
  top: 31%;
  left: 73%;
  animation-delay: 400ms;
}

.red {
  background: red;
  top: 38.5%;
  left: 80.5%;
  animation-delay: 800ms;
}

.green {
  background: green;
  top: 46%;
  left: 73%;
  animation-delay: 1200ms;
}

.blue {
  background: blue;
  top: 38.5%;
  left: 65.5%;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wait-msg {
  font: 20px/1.2 'Berkshire Swash', Helvetica, sans-serif;
  color: #ec366ce5;
  text-shadow: 1px 1px 0px #df7c9a, 2px 2px 0px rgba(0,0,0,0.15);
}

img {
  width: 100%;
  height: 100%;
}