* {
  box-sizing: border-box;
}

.scoreBoard {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.score-cell {
  height: auto;
  font-family: "ThrowMyHandsUpintheAir", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  font-size: 125%;
  font-weight: bold;
}
.header img {
  width: 25%;
  height: 25%;
}

@font-face {
  font-family: "ThrowMyHandsUpintheAir";
  src: local("ThrowMyHandsUpintheAir"),
    url(../../fonts/ThrowMyHandsUpintheAir.ttf);
}
