.dots-center-area {
  width: 60vmin;
  margin-left: auto;
  margin-right: auto;
}

.dots-board {
  height: 60vmin;
  display: grid;
  grid-template-rows: repeat(5, 1fr 5fr) 1fr;
  grid-template-columns: repeat(5, 1fr 5fr) 1fr;
}

@media screen and (max-width: 600px) {
  .dots-center-area {
    width: 90vmin;
  }
  .dots-board {
    height: 90vmin;
  }
}

.dots-dot {
  background: black;
  border-radius: 50%;
}

.dots-hor-cell {
  display: grid;
}

.dots-ver-cell {
  display: grid;
}

.dots-hor-line {
  height: 20%;
  background: lightgray;
  align-self: center;
}

.dots-ver-line {
  width: 20%;
  background: lightgray;
  justify-self: center;
}

.dots-box {
  width: 100%;
  height: 100%;
}

.dots-box-p1 {
  background: lightpink;
}

.dots-box-p2 {
  background: skyblue;
}

.dots-line-p1 {
  background: red;
}

.dots-line-p2 {
  background: blue;
}

.dots-match-score-container {
  display: flex;
}
.dots-match-score {
  flex: 1;
  font-family: "ThrowMyHandsUpintheAir", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  font-size: 125%;
  font-weight: bold;
}

.dots-match-score-p1 {
  color: lightpink;
  margin-left: 5%;
  text-align: left;
}

.dots-match-score-p2 {
  color: skyblue;
  margin-right: 5%;
  text-align: right;
}

.dots-turn {
  font-family: "ThrowMyHandsUpintheAir", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  font-size: 125%;
  font-weight: bold;
}

.dots-me {
  color: green;
}

.dots-opp {
  color: crimson;
}
